:root {
    /* color scheme variables */
    --primary-color: rgb(83, 13, 36);
    --secondary-color: #ffe54c;
    --tertiary-color: white;
}

h1 {
    font-family: "Cinzel Decorative";
    font-weight: bold;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    margin: 0;
}

p {
    font-family: "Open Sans", sans-serif;
}

.hero {
    /* Photo by <a href="https://unsplash.com/@brookelark">Brooke Lark</a> on <a href="https://unsplash.com/s/photos/recipe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-image: url("./images/hero1.jpg");
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#settingsButton {
    margin: 50px;
    font-family: inherit;
}

.settings {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.settings::after {
    content: "";
    background-color: var(--secondary-color);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.settings:hover::after {
    top: 0px;
    left: 0px;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E8ADAA;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E8ADAA;
    cursor: pointer;
  }