:root {
    /* color scheme variables */
    --primary-color: rgb(83, 13, 36);
    --secondary-color:  rgb(158, 69, 42);
    --tertiary-color: white;
    --quaternary-color: rgb(173, 48, 54);
    --fifth-color: #ffe54c;
}

h1 {
    font-family: "Cinzel Decorative";
    font-weight: bold;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    margin: 0;
}

p {
    font-family: "Open Sans", sans-serif;
}

.hero {
    /* Photo by <a href="https://unsplash.com/@brookelark">Brooke Lark</a> on <a href="https://unsplash.com/s/photos/recipe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-image: url("./images/hero1.jpg");
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* modal */
.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-content div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
    margin: 10px;
    border-bottom: 1px solid #969696;
}

.meal-type {
    border-bottom: none;
}

.modal-content button {
    border: none;
    color: var(--tertiary-color);
    font-size: 28px;
    background: var(--secondary-color);
    padding: 10px;
    margin: 5px 8px 6px 1px;
}

.modal-content button:hover {
    background: var(--quaternary-color);
    box-shadow: 1px 1px 10px rgba(107, 107, 107, 0.3), -1px -1px 10px rgba(107, 107, 107, 0.2);
}

.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidecontainer p {
    font-size: 24px;
    font-weight: lighter;
}

#settingsButton {
    margin: 50px;
    font-family: inherit;
}

.settings {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.settings::after {
    content: "";
    background-color: var(--fifth-color);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.settings:hover::after {
    top: 0px;
    left: 0px;
}

.slidecontainer {
    width: 100%;
    flex-direction: column;
  }

  .slidecontainer p {
      border: 1px solid #969696;
      border-radius: 16px;
      padding: 1px 8px;
      width: 40%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 95%;
    height: 15px;
    border-radius: 5px;
    background: #969696;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0 auto;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #dd6d67;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E8ADAA;
    cursor: pointer;
  }

  .close-modal:hover > svg > #modal-x {
    fill: black;
  }